// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-light: #f8dcb9;
$color-primary-dark: #B28451;
// $color-primary: #009688;
// $color-primary-light: rgba(0, 150, 136, 0.55);
// $color-primary-dark: #07776d;

$color-secondary: #101d2c;
// $color-secondary: #F85959;

$color-tertiary: rgba(47, 51, 51, 0.75);

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;